.link-button {
  text-decoration: none;
  text-align: center;
  display: block;
  border: 1px solid black;
  padding: 1.5rem;
  width: 8rem;
  margin: 1rem;
  color: black;
  background-color: lightgray;
}
